# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Virtual Environments
# ==========================
.venv/
venv/
env/

# ==========================
# Environment Variables
# ==========================
.env
.env.*

# ==========================
# IDEs
# ==========================
.vscode/
.idea/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# OS files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Python caches
# ==========================
.pytest_cache/
.mypy_cache/
.ruff_cache/

# ==========================
# Build files
# ==========================
build/
dist/
*.egg-info/